 body{
        background-color: #FFF;
      }

      div.center{
        text-align:center;
        margin-top: 20%;
      }
   
      .span4{
        
      }

      .pane3 > div{
        min-height: 200px !important;
       
      }
      #map-canvas{
        min-height:180px;
      }
      .main-wrap{
        min-height: 200px !important;
       
      }
      header{
        min-height : 50px;
        border-bottom: 2px solid #BBB39F;
        padding: 10px;
      }

      div.title{
        font-size:25px;
      }
      div.search-wrap{
        margin-top: 80px;
      }

      div#geoloc-success{
        display:none;
      }

      div#locations-wrap{
        display:none;
      }
      div#personal {
        font-size: 15px;
      }

      h6.politician-name {
        font-size: 28px;
      }
      div#geo{
        text-align:center;
      }

      div.location-options > div{
        min-height : 300px;      
      }
      div.location-options{
         border-bottom: 1px solid #efefef;
      }