{% extends "layout.html" %}
{% block content %}

<div class = "row location-options">
	<div class = "col-md-4">
		<p class="lead">
			Import location data from G+
		</p>
	</div>

	<div class = "col-md-4">
		<p class="lead">
			Use Search
		</p>
	</div>

	<div class = "col-md-4">
		<p class="lead">

			Using Browser Location 

			<div id="geo">

				<a class="btn btn-info" id="btn-detect"> Detect Location </a>

			</div>

			<div class = "geo-info">
			</div>
		</p>
	</div>

</div>


{% endblock %}
{% block scripts %}


<script src= "{{ url_for('static', filename='js/currentlocation.js')}}" ></script>

{% endblock %}
