{% extends "layout.html" %}
{% block content %}

<div class="row" style="border-bottom:1px solid #e3e3e3">
	<div class="col-md-12">
		<p class="lead" style="text-align:center"> Location - Choose your method </p>
	</div>
</div>
<div class = "row location-options">
	<div class = "col-md-4">
		<h6>
			Import location data from G+
		</h6>
		<div class="center">
			 <div id="gplusinfo"></div>
			 <span id="signinButton">
              <span
                class="g-signin"
                data-callback="signinCallback"
                data-clientid="1018660632134.apps.googleusercontent.com"
                data-cookiepolicy="single_host_origin"
                data-requestvisibleactions="http://schemas.google.com/AddActivity"
                data-scope="https://www.googleapis.com/auth/plus.login">
              </span>
            </span>
		</div>
	</div>

	<div class = "col-md-4">
		<h6>
			Use Search 
		</h6>
			<div class="center">
				<form class="form-inline" role="form" id="l-form">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Enter location" id="l" name="l">
					</div>
					<div class="form-group">
						<a class="btn btn-info" id="l-search">Locate</a>
					</div>
				</form>
			</div>
		</p>
	</div>

	<div class = "col-md-4">
		<h6>
			Using Browser Location 
		</h6>
			<div id="geo" class="center">

				<a class="btn btn-info" id="btn-detect"> Detect Location </a>

			</div>

			<div id="map-canvas">
			</div>
		</p>
	</div>

</div>

<div class="row">
  <p class="lead" style="text-align:center" id="res-title"> Results </p>
  <div class="col-md-12 results">
    <!-- Populate results here -->
  </div>
</div>

<!-- Required for G+ Sign In -->
    <script type="text/javascript">
      (function() {
       var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
       po.src = 'https://apis.google.com/js/client:plusone.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
     })();
    </script>

{% endblock %}
{% block scripts %}

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCt302Eg6wtngduThQ9jEmcGQfHmn1XNQg&sensor=true"></script>
<script src= "{{ url_for('static', filename='js/currentlocation.js')}}" ></script>

{% endblock %}
