{% extends "layout.html" %}
{% block content %}

<div class = "row location-options">
	<div class = "col-md-4">
		<p class="lead">
			Import location data from G+
		</p>
	</div>

	<div class = "col-md-4">
		<p class="lead">
			Use Search
			<div class="center">
				<form class="form-inline" role="form" id="l-form">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Enter location" id="l" name="l">
					</div>
					<div class="form-group">
						<a class="btn btn-info" id="l-search">Locate</a>
					</div>
				</form>
			</div>
		</p>
	</div>

	<div class = "col-md-4">
		<p class="lead">

			Using Browser Location 

			<div id="geo" class="center">

				<a class="btn btn-info" id="btn-detect"> Detect Location </a>

			</div>

			<div class = "geo-info">
			</div>
		</p>
	</div>

</div>


{% endblock %}
{% block scripts %}


<script src= "{{ url_for('static', filename='js/currentlocation.js')}}" ></script>

{% endblock %}
