{% extends "layout.html" %}
{% block content %}
        
        <div class="row main-wrap">
          <div class = "col-md-12">
         
            <div class="row search-wrap">
              <form action="/search">
                <div class="col-md-5 col-md-offset-3">
               
                  <div class="form-group">
                    <input type="text" placeholder="Search for politicians" class="form-control" id="q" name="q">   
                  </div>  
               
               </div> 

                <div class="col-md-3">
                     <button type="submit" class="btn btn-primary"><span class="fui-search"></span></button>
                </div>
               
            </div>
             </form>   
          </div>
        </div> 

        <div class="row pane3">
          <div class="col-md-4">
            <h6 class="demo-panel-title"> Locate </h6>
             <div>
             <img src="{{  url_for('static', filename='img/gmaps.png') }}" height="150">
               </div>
              Use our <a href="/getlocation">location service</a> to find our about politicans from your region!
             
             <div id="geoloc-success">
               Your browser supports location detection, Sweet!
             </div>
          </div>

          <div class="col-md-4">
            <h6 class="demo-panel-title"> Introduction </h6>
          </div>

          <div class="col-md-4">
           <h6 class="demo-panel-title"> Most Debated Politician </h6>
           <div class="share mrl">
            <ul>
              {% for politician in politicians %}
              <li> <a href="/politicians/id/{{ politician.name }}">{{ politician.name.title() }}</a> </li>
              {% endfor %}
            </ul>
           </div>
          </div>
        </div>
{% endblock %}

{% block scripts %}

  <script src= "{{ url_for('static', filename='js/home.js')}}" ></script>
       <!-- <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCt302Eg6wtngduThQ9jEmcGQfHmn1XNQg&sensor=true">
        </script> -->
{% endblock %}