{% extends "layout.html" %}

{% block head %}
    <meta property="og:image" content="https://gcdc2013-know-your-gov.appspot.com/static/img/logo-big.png">
{% endblock %}

{% block content %}
    <a href="https://plus.google.com/111205793019369355994" rel="publisher" style="display:none;">Google+</a>
        
        <div class="row main-wrap">
          <div class = "col-md-12">
            <div class="row search-wrap">
              <form action="/search">
                <div class="col-xs-5 col-xs-offset-3">
                  <div class="form-group">
                    <input type="text" placeholder="Search for politicians, parties, states" class="form-control typeahead" id="q" name="q" x-webkit-speech>
                  </div>
                </div>
                <div class="col-xs-3">
                     <button type="submit" class="btn btn-primary"><span class="fui-search"></span></button>
                </div>
             </form>
            </div>
          </div>
        </div> 

        <div class="row pane3">
          <div class="col-md-4">
            <h6 class="demo-panel-title"> Locate </h6>
            <div class="locate-home">
             <div>
                <a href="/getlocation"><img src="{{  url_for('static', filename='img/gmaps.png') }}" height="150"></a>
              </div>

              Use our <a href="/getlocation">location service</a> to find out about politicians from your region!
             
             <div id="geoloc-success">
                <p class="palette-paragraph">
                  Your browser supports location detection, <span style="color:#E74C3C">Sweet!</span>
               </p>
             </div>
             </div>
          </div>

          <div class="col-md-4 col-xs-6">
            <h6 class="demo-panel-title"> Introduction </h6>
            <p><img src="/static/img/logo-big.png" style="float:right">Know Your Government is an attempt to raise awareness about political leaders in India in common person.</p><p><a href="/about" style="color:#D35400"><small>Find out more about this app's background and Tech-Stack</small></a>
          </div>

          <div class="col-md-4 col-xs-6">
           <h6 class="demo-panel-title"> Trending </h6>
           <div class="tagsinput">
           
              {% for politician in politicians %}
              <a href="/politicians/id/{{ politician.url_slug() }}">
                <span class="tag">{{ politician.name.title() }}</span>
              </a> 
              {% endfor %}
           
           </div>
           <h6 class="demo-panel-title"> Discover </h6>

           <a href="/parties" style="color:#D35400">Explore National Politicial Parties</a><br>
           <a href="/states" style="color:#D35400">Explore State Politicians</a>

          </div>
        </div>
{% endblock %}

{% block scripts %}

  <script src= "{{ url_for('static', filename='js/home.js')}}" ></script>
       <!-- <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCt302Eg6wtngduThQ9jEmcGQfHmn1XNQg&sensor=true">
        </script> -->
{% endblock %}