<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flat-ui.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">

    <meta property="og:site_name" content="Know Your Government">
    <meta property="og:description" content="Know Your Government is an  application to create an information base about current elected leaders in India as a part of Google Cloud Developer Challenge 2013">
    <meta name="google-site-verification" content="5Kv350XzgFn3ZC4JBrnFXcHipFH2X33GJeFjcKKRdUQ" />

    <meta name="google-translate-customization" content="1a9354e1fc4c6f73-2543eddab3b7c9ab-g98c508cc9bc5794e-23"></meta>

    {% block head %}{% endblock %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery||document.write('<script src="/static/js/jquery.min.js"><\/script>')</script>

    {% if title %}
    <title>{{ title|title }} | Know Your Government</title>
    {% else %}
    <title>Know Your Government</title>
    {% endif %}
  </head>
  <body>
   <div class="container">
    <div class="row">
      <div class="col-md-12">

        <header>
          <div class="row">
            <div class="col-md-6 col-xs-6">
              <a href="/"><img src="/static/img/logo.png" alt="Know Your Government" title="Know Your Government" height="75"></a>
            </div>
            <div class="col-xs-3 col-xs-offset-3" style="padding-top:10px">
            
            <small>
              <span id="userinfo">
              </span>
              <!--+1. -->
              <div class="g-plusone" data-size="medium" data-href="https://gcdc2013-know-your-gov.appspot.com/"></div>
              <!-- Follow button -->
              <div class="g-follow" data-annotation="none" data-height="20" data-href="//plus.google.com/111205793019369355994" data-rel="publisher"></div>
              <!-- Translate -->
              <div id="google_translate_element"></div><script type="text/javascript">
              function googleTranslateElementInit() {
                new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'en,bn,gu,hi,kn,mr,ms,ta,te', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
              }
              </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
            </small>
            </div>
          </div>
        </header> 
        {% block content %}{% endblock %}

        <div class="footer row">
          <div class="col-md-6 col-md-offset-3">
            <ul class="nav nav-pills">
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/about#feedback">Feedback</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <script src= "{{ url_for('static', filename='js/typeahead.min.js')}}" ></script>
    <script src= "{{ url_for('static', filename='js/common.js')}}" ></script>
    {% block scripts %}{% endblock %}
    <!-- Place this tag after the last +1 button tag. -->
    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/platform.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
   
    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-46287190-1', 'gcdc2013-know-your-gov.appspot.com');
      ga('send', 'pageview');

    </script>
  </body>
</html>
