<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flat-ui.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nprogress.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
</head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    {% if title %}
    <title>Know Your Government : {{ title }}</title>    
    {% else %}
    <title>Know Your Government</title>
    {% endif %}

  </head>
  <body>
   <div class="container">
    <div class="row">
      <div class="col-md-12">

        <header>
          <div class="row">
            <div class="col-md-6 title">
              <a href="/">  Know Your Government </a>
            </div>
            <div class="col-md-2 col-md-offset-4">
            
            <small>
              <span id="userinfo">
              </span>
            </small>
            </div>
          </div>
        </header> 
        {% block content %}{% endblock %}
      </div>
    </div>
    
    
    <script src= "{{ url_for('static', filename='js/common.js')}}" ></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
