<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flat-ui.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">

    <meta property="og:image" content="https://gcdc2013-know-your-gov.appspot.com/static/img/logo-big.png">
    <meta property="og:site_name" content="Know Your Government">
    <meta property="og:description" content="Know Your Government is an  application to create an information base about current elected leaders in India as a part of Google Cloud Developer Challenge 2013">

    {% block head %}{% endblock %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    {% if title %}
    <title>{{ title|title }} | Know Your Government</title>
    {% else %}
    <title>Know Your Government</title>
    {% endif %}
  </head>
  <body>
   <div class="container">
    <div class="row">
      <div class="col-md-12">

        <header>
          <div class="row">
            <div class="col-md-6 title">
              <a href="/">  Know Your Government </a>
            </div>
            <div class="col-md-3 col-md-offset-3" style="padding-top:10px">
            
            <small>
              <span id="userinfo">
              </span>
              <!--+1. -->
              <div class="g-plusone" data-size="medium" data-href="https://gcdc2013-know-your-gov.appspot.com/"></div>
              <!-- Follow button -->
              <div class="g-follow" data-annotation="none" data-height="20" data-href="//plus.google.com/111205793019369355994" data-rel="publisher"></div>
            </small>
            </div>
          </div>
        </header> 
        {% block content %}{% endblock %}

        <div class="footer row">
          <div class="col-md-6 col-md-offset-4">
            <ul class="nav nav-pills">
              <li><a href="/" style="color:#7f8c8d;">Home</a></li>
              <li><a href="/about" style="color:#7f8c8d;">About</a></li>
              <li><a href="/about#feedback" style="color:#7f8c8d;">Feedback</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <script src= "{{ url_for('static', filename='js/typeahead.min.js')}}" ></script>
    <script src= "{{ url_for('static', filename='js/common.js')}}" ></script>
    <!-- Place this tag after the last +1 button tag. -->
    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/platform.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
    {% block scripts %}{% endblock %}
  </body>
</html>
