{% extends "layout.html" %}
{% block content %}
<center>
   	<h3>Results - {{ state.title() }}</h3>
    <div>
    {% for politician in politicians %}
      <div class="row">
        <div class="col-md-12">
          <h6><a href="/politicians/id/{{ politician.name }}">{{ politician.name.title() }}</a></h6>
          {{ politician.constituency.title() }}
        </div>
      </div>
    {% endfor %}
    </div>
   <form action="/search"><input type="text" id="q" name="q" placeholder="Your Search Ends here"><input type="submit"</form>
 </center>
{% endblock %}
