{% extends "layout.html" %}
{% block head %}
<meta name="google" value="notranslate">
{% endblock %}
{% block content %}

<div class="row" style="border-bottom:1px solid #e3e3e3">
	<div class="col-md-12">
		<p class="lead" style="text-align:center">{{ title|title }}</p>
	</div>
</div>

{% if parties is defined %}
	{% for party in parties %}		
	<script>

	var title = "{{ parties[0].name }}",
			ytube = "{{ parties[0].youtube }}";

	</script>
<div class = "row">
	<div class = "col-md-3 party-info">
			<p class="text-center"><img src = "{{ party.logo }}" alt="{{ party.name }}" title="{{ party.name|capwords }}"></p>
			<ul>
				<a href="{{ party.official_site }}"> <li> Official Website </li> </a>
				<a href="{{ party.wikipedia }}"> <li> Wikipedia </li> </a>
			</ul>

	</div>
	<div class="col-md-5 party-news">
		<h6> News </h6>
		<div class="news-wrap"></div>
	</div>
	<div class="col-md-4 party-videos">
		<h6> Youtube <a class="channel-url" href="https://www.youtube.com/users/{{ party.youtube }}">Official Channel </a></h6>
		<div class="video-wrap">
		</div>
	</div>
</div>
			
	{% endfor %}
{% endif %}
<script>
	function fadeIn(obj){
		$(obj).fadeIn(1000);
	}
</script>
<div class="col-md-12">
		<p class="lead" style="text-align:center">Stats</p>
</div>
<div id="stats"></div>
<p class="lead text-center"> Elected Members </p>
<div class="row">
  <div class="col-md-12 results">
	<table class="table table-hover">
		<thead>
			<tr><th></th><th>Name</th><th>Constituency</th><th>State</th></tr>
		</thead>
		<tbody>
			{% for p in politicians %}
			<tr>
				<td><img src="/static/img/politicians/{{p.image_url}}" width="64" height="64" onload="fadeIn(this)"></td>
				<td><a href="/politicians/id/{{p.name.replace(' ','-')}}">{{ p.name|title }}</a></td>
				{% if p.constituency %}
				<td>{{p.constituency|default('-')|title}}</td>
				{% else %}
				<td>-</td>
				{% endif %}
				<td><a href="/state/{{p.state.replace(' ','-')}}">{{p.state|title}}</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
  </div>
</div>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
	var stats = {{stats|tojson|safe}}
	console.log(stats)
	google.load("visualization", "1", {packages:["corechart"]});
	google.setOnLoadCallback(function()
	{
		for(var field in stats)
		{
			var field_stats = stats[field]
			var arr = []
			arr.push([field, 'Number'])
			for(key in field_stats)
				arr.push([toTitleCase(key), field_stats[key]])
			var chart_data = google.visualization.arrayToDataTable(arr);
			var id = field+'_chart'
			var new_div = "<div id='"+id+"' class='chart-div'></div>"
			console.log(new_div)
			$("div#stats").append(new_div)
			drawChart(chart_data, {'title':toTitleCase(field)+' Distribution'}, id)
		}
	})
	function drawChart(data, options, ele_id) {
	    var chart = new google.visualization.PieChart(document.getElementById(ele_id));
	    chart.draw(data, options);
	}
	function toTitleCase(str) {
          str = str.replace('_', ' ')
          return str.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
    }
</script>
<!-- Required for G+ Sign In -->
    <script type="text/javascript">
      (function() {
       var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
       po.src = 'https://apis.google.com/js/client:plusone.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
     })();
    </script>

{% endblock %}
{% block scripts %}

<script src= "{{ url_for('static', filename='js/party.js')}}" ></script>

{% endblock %}
