{% extends "layout.html" %}
{% block content %}

    <div class="row pane3">
      <div class="col-md-2 info tile" id="info">
        <!-- <h4 class="demo-pane-title">Info</h4> -->

        <img id="politician-image" title="placeholder" src="{{ url_for('static', filename='img/anon.jpg') }}" height="150" width="150">

        <h6 class="politician-name"><!-- {{ politician.name }} --></h6>
        <div id="personal">
          <!-- <li>{{ politician.party }}</li>
          <li>{{ politician.state }}</li>
          <li>{{ politician.constituency }}</li> -->
        </div>
      </div>
      <div class="col-md-6 col-md-offset-1">
        <h6 class="demo-pane-title">News Updates<img style="float:right" src="/static/img/gnews.png" height="24" width="24" title="Google News"></h5>
        <div class="row" id="news-wrap">
          <!-- news -->

        </div>
        
        <div class="row" id="articles-wrap">
          <!-- articles -->

        </div>
      </div>
      <div class="col-md-3">

        <h6 class="demo-pane-title">Sentiment Analysis</h5>
         <div id="sentiment-wrap">
            <div class="progress"></div>
            <span class="palette-paragraph"></span>
         </div>

        <h6 class="demo-pane-title">Social Updates <img src= "/static/img/twitter.png" style="float:right"> </h5> 
          <div id="tweet-container">
            <ul class="tweets"></ul>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div style="padding-top:25px;">
          <form action="/search">
            <div class="col-md-5 col-md-offset-5" style="padding:0 2px;">
              <div class="form-group">
                <input type="text" placeholder="Search for politicians" class="form-control typeahead" id="q" name="q">
              </div>
            </div>
            <div class="col-md-2" style="padding:0 2px;">
                 <button type="submit" class="btn btn-primary"><span class="fui-search"></span></button>
            </div>
          </form>
        </div>
      </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
      name = "{{ politician.name }}";
    </script>
    <script src= "{{ url_for('static', filename='js/nprogress.js')}}" ></script>
    <script src= "{{ url_for('static', filename='js/sha1.js')}}" ></script>
    <script src= "{{ url_for('static', filename='js/codebird.js')}}" ></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src= "{{ url_for('static', filename='js/politician.js')}}" ></script>
    <script>
    google.load('search', '1');

      var newsSearch;

     function searchComplete(){
      var html = '';
      var res = newsSearch['results'];
      if(res.length > 0){
        html += '<div class="news-title"><a href="'+ decodeURIComponent(res[0].url) +'" target="_blank">'+ res[0].title +'</a></div><div class="news-desc"><img src="'+res[0].image.url+'" style="float:right">' + res[0].content + '</div>';
            for(i in res){
              html += '<div class="news-title"><a href="'+ decodeURIComponent(res[i].url) +'" target="_blank">'+ res[i].title +'</a></div>';
            }
        $('#news-wrap').html(html)
      }
    }

      function onLoad() {

        // Create a News Search instance.
        newsSearch = new google.search.NewsSearch();
  
        // Set searchComplete as the callback function when a search is 
        // complete.  The newsSearch object will have results in it.
        newsSearch.setSearchCompleteCallback(this, searchComplete, null);

        // Specify search quer(ies)
        newsSearch.execute(name);

        // Include the required Google branding
        google.search.Search.getBranding('branding');
      }

      // Set a callback to call your code when the page loads
      google.setOnLoadCallback(onLoad);
    </script>

{% endblock %}

