{% extends "layout.html" %}
{% block head %}
<meta name="google" value="notranslate">
{% endblock %}
{% block content %}

<div class="row" style="border-bottom:1px solid #e3e3e3">
	<div class="col-md-12">
		<p class="lead" style="text-align:center">Stats</p>
	</div>
	<div id="stats"></div>
	<div class="col-md-12">
		<p class="lead" style="text-align:center">{{ title|title }}</p>
	</div>
</div>

<div class="row">
  <p class="lead" style="text-align:center" id="res-title"> Results </p>
  <div class="col-md-12 results">
	<table class="table table-hover">
		<thead>
			<tr><th colspan="2">Name</th><th>Party</th><th>Constituency</th><th>State</th></tr>
		</thead>
		<tbody>
			{% for p in politicians %}
			<tr>
				<td><img src="/static/img/politicians/{{p.image_url}}" width="64" onerror="this.onerror=null;this.src='/static/img/anon.jpg';" onload="fadeIn(this)"></td>
				<td><a href="/politicians/id/{{p.name.replace(' ','-')}}">{{ p.name|title }}</a></td>
				<td><a href="/party/{{p.party.replace(' ','-')}}">{{p.party|title}}</a></td>
				{% if p.constituency %}
				<td>{{p.constituency|default('-')|title}}</td>
				{% else %}
				<td>-</td>
				{% endif %}
				<td><a href="/state/{{p.state.replace(' ','-')}}">{{p.state|title}}</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
  </div>
</div>

<!-- Required for G+ Sign In -->
    <script type="text/javascript">
      (function() {
       var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
       po.src = 'https://apis.google.com/js/client:plusone.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
     })();
    </script>

{% endblock %}
{% block scripts %}
<script>
function fadeIn(obj){
	$(obj).fadeIn(1000);
}
</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCt302Eg6wtngduThQ9jEmcGQfHmn1XNQg&sensor=true"></script>
<script src= "{{ url_for('static', filename='js/currentlocation.js')}}" ></script>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/stats.js')}}"></script>

<script type="text/javascript">
	var stats = {{stats|tojson|safe}}
	console.log(stats)
	google.load("visualization", "1", {packages:["corechart"]});
	google.setOnLoadCallback(function()
	{
		plotStats(stats)	
	})
</script>

{% endblock %}
