{% extends "layout.html" %}
{% block head %}
    <meta property="og:type" content="profile">
    <meta property="og:image" content="{{ politician.image_url }}">
    <meta property="og:profile:first_name" content="{{ politician.first_name|title }}">
    <meta property="og:profile:last_name" content="{{ politician.last_name|title }}">
{% endblock %}

{% block content %}

    <div class="row pane3 content-wrap">
      <div class="col-md-3 info tile" id="info">
        {# Using img src is better for SEO #}
        <div id="politician-image" title="{{ politician.name|capwords }}" alt="Image of {{politician.name|capwords}}">
          <img src="/static/img/politicians/{{politician.image_url}}" width="180">
        </div>

        <h6 class="politician-name">
          <a href="/politicians/id/{{politician.name.replace(' ','-')}}">{{politician.name|title}}</a>
        </h6>
        <div id="personal">
          <div>
            <i>{{ politician.position }}</i>
          </div>
          {% if politician.state != "" %}
          <div><strong>State</strong><br><a href="/state/{{politician.state.replace(' ','-')}}">{{politician.state|title}}</a></div>
          {% endif %}
          <div><strong>Party</strong><br><a href="/party/{{politician.party.replace(' ','-')}}">{{politician.party|title}}</a></div>
          {% if politician.constituency != "" %}
          <div><strong>Constituency</strong><br>{{politician.constituency|title|default('-')}}</div>
          {% endif %}
          {% if politician.age %}
            <div><strong>Age</strong><br>{{ politician.age }}</div>
          {% endif %}
          {% if politician.dob %}
            <div><strong>Born</strong><br>{{ politician.dob }}</div>
          {% endif %}
          {% if politician.startofterm %}
              <div><strong> Term: </strong> <p>{{ politician.startofterm }} {% if politician.endofterm %} - {{ politician.endofterm }}  {%  endif %}</p> </div>
          {%  endif %}
        </div>
        
      </div>

      <div class="col-md-5 news">
        <h6 class="demo-pane-title">News Updates<img style="float:right" src="/static/img/gnews.png" height="24" width="24" title="Google News"></h5>
        <div class="row" id="news-wrap">
          <!-- news -->
          <div style="text-align:center;"><img src="{{ url_for('static', filename='img/spinner.gif') }}"></div>
        </div>
        
        <h6 class="demo-pane-title">Social Updates<img src= "/static/img/twitter.png" style="float:right"> </h5> 
          <div id="tweet-container">
            <ul class="tweets"></ul>
          </div>
        
        <div class="row" id="articles-wrap">
          <!-- articles -->
        </div>

        </div>
      <!--</div>-->

      <div class="col-md-3">

        <h6 class="demo-pane-title">Sentiment Analysis</h5>
         <div id="sentiment-wrap">
            <div class="progress">
              <div class="progress-bar"></div>
            </div>
            <span class="palette-paragraph">Performing Sentiment Analysis...</span>
         </div>

          {% if politician.wiki_link !='undefined' %}
          <h6 class="demo-pane-title"> Stats </h6>
          <div class="row resources">
            <!--<div class="col-md-6">
              <div id="wiki_link">
                 
              </div>
            </div>-->
            <div class="col-md-12">  
            <ul class="stats-list">
            {% if politician.education %}
              <li> <strong><img src="/static/img/education.png" alt="Education"> Education: </strong> {{ politician.education }} </li>
            {%  endif %}
            {% if politician.attendance %}
              <li>
              <center>
                <canvas id="attendanceChart" width="100" height="100" data-attendance="{{ politician.attendance }}"></canvas>
                <br>
                <strong> Attendance </strong> {{ politician.attendance }} % 
              </center>  
              </li>
            {%  endif %}
              <li> <strong> Links: </strong> <a href="{{ politician.wiki_link }}" target="_blank">Wikipedia Page</a> {% if politician.official_link %} - <a href="{{ politician.official_link }}" target="_blank">Official Page</a>{% endif %} </li>
              {% if politician.debates %}
              <li> <strong> <img src="/static/img/debates.png" alt="Debates"> Debates: </strong> {{ politician.debates }} </li>
              {% endif %}
              {% if politician.questions %}
              <li> <strong> <img src="/static/img/questions.png" alt="Questions"> Questions: </strong> {{ politician.questions }} </li>
              {% endif %}
              {% if politician.net_worth != 0 %}
              <li> <strong> Net Worth: </strong> <span style="color:#27AE60">  {{ net_worth }} <strong> &#8377; </strong></span> </li>
              {% endif %}
            </ul>
             {% if politician.questions %}
              <a href="/stats/politician/{{ politician.name }}" class="grey" title="More Stats">More</a>
             {% endif %}
            </div>
          </div>
          {% endif %}

        <h6> Share </h6>
        <div class="share-wrap">

          <a href="https://plus.google.com/share?url=https://gcdc2013-know-your-gov.appspot.com/politicians/id/{{ politician.name.replace(' ', '-') }}" onclick="javascript:window.open(this.href,
          '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><img src="/static/img/gplus-icon.png" alt="Share on Google+" target="_blank"></a>

          <a href="https://www.facebook.com/sharer/sharer.php?u=https://gcdc2013-know-your-gov.appspot.com/politicians/id/{{ politician.name.replace(' ', '-') }}" target="_blank"><img src="/static/img/fb-icon.png" alt="Share on Facebook"></a>

          <a href="https://twitter.com/share?url=https://gcdc2013-know-your-gov.appspot.com/politicians/id/{{ politician.name.replace(' ', '-') }}" class="twitter-share-button" data-lang="en" target="_blank">
            <img src="/static/img/twitter-icon.png" alt="Share on Twitter">
          </a>
  
        </div>

        <h6>Search</h6>
        <div>
         <form action="/search">
            <div class="col-xs-10 " style="padding:0 2px;">
              <div class="form-group">
                <input type="text" placeholder="Search for politicians" class="form-control typeahead" id="q" name="q" x-webkit-speech>
              </div>
            </div>
            <div class="col-xs-2" style="padding:0 2px;">
                 <button type="submit" class="btn btn-primary"><span class="fui-search"></span></button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 col-md-offset-3">

        <h6> Comments  <a rel="comments-toggle" id="comments-toggle">Show</a> </h6> 
        <div class="comments-wrap">
         <!-- Disqus comment -->

          <!--<div id="disqus_thread"></div>
          <script type="text/javascript">
              /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
              var disqus_shortname = 'knowyourgovernment'; // required: replace example with your forum shortname

              /* * * DON'T EDIT BELOW THIS LINE * * */
              (function() {
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
          </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <p class="palette-paragraph"><a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a></p> -->

        <!-- G+ comments -->
        <script src="https://apis.google.com/js/plusone.js">
        </script>
        <div>
          <div class="g-comments"
              data-href="https://gcdc2013-know-your-gov.appspot.com/politicians/id/{{politician.name.replace(' ','-')}}"           
              data-first_party_property="BLOGGER"
              data-view_type="FILTERED_POSTMOD"> Loading...
          </div>
        </div>
         
        </div>
      </div>
    </div>

{% endblock %}

{% block scripts %}

    <!-- For Plotting Location -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCt302Eg6wtngduThQ9jEmcGQfHmn1XNQg&sensor=true"></script>

    <script>
      // @global - name of politician, party name, constituency,state 
      name = "{{ politician.name |title }}";
      party = "{{ politician.party }}";
      constituency = "{{ politician.constituency }}";
      state = "{{ politician.state }}";

      // @global - content for sentiment analysis
      analysis_content = [];
    </script>
    <script src= "{{ url_for('static', filename='js/Chart.min.js')}}" ></script>
    <script src= "{{ url_for('static', filename='js/politician.js')}}" ></script>
{% endblock %}

