{% extends "layout.html" %}
{% block content %}
    <div class="row">
      <div class="col-md-4">
        <h3> Politician Page</h3>
      </div>
      <div class="col-md-8">
        <div style="padding-top:25px;">
          <form action="/search">
            <div class="col-md-5 col-md-offset-5" style="padding:0 2px;">
              <div class="form-group">
                <input type="text" placeholder="Search for politicians" class="form-control" id="q" name="q">
              </div>
            </div>
            <div class="col-md-2" style="padding:0 2px;">
                 <button type="submit" class="btn btn-primary"><span class="fui-search"></span></button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row pane3">
      <div class="col-md-3 info" id="info">
        <!-- <h4 class="demo-pane-title">Info</h4> -->
        <img id="politician-image" title="placeholder" src="{{ url_for('static', filename='img/anon.jpg') }}" height="180" width="180">
        <h6 class="politician-name"><!-- {{ politician.name }} --></h6>
        <div id="personal">
          <!-- <li>{{ politician.party }}</li>
          <li>{{ politician.state }}</li>
          <li>{{ politician.constituency }}</li> -->
        </div>
      </div>
      <div class="col-md-5">
        <h5 class="demo-pane-title">Articles</h5>
        <div class="row" id="articles">
          <!-- articles -->
          <img src="{{ url_for('static', filename='img/spinner.gif') }}" id="article-spinner">
        </div>
      </div>
      <div class="col-md-4">
        <h5 class="demo-pane-title">Sentiment Analysis</h5>
      </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
      name = "{{ politician.name }}";
    </script>
    <script src= "{{ url_for('static', filename='js/nprogress.js')}}" ></script>
    <script src= "{{ url_for('static', filename='js/politician.js')}}" ></script>
{% endblock %}

