{% extends "layout.html" %}
{% block content %}
    <div class="row">
      <div class="col-md-6 col-md-offset-4">
        <h5 class="demo-pane-title">Politician {{ q.title() }} not found</h5>
      </div>
    </div>
    <div class="row search-wrap">
      <div class="col-md-12">
        <div>
          <form action="/search">
            <div class="col-md-6 col-md-offset-3">
              <div class="form-group">
                <input type="text" placeholder="Search for politicians, parties, states" class="form-control typeahead" id="q" name="q" x-webkit-speech>
              </div>
            </div>
            <div class="col-md-3" style="padding:0 2px;">
              <button type="submit" class="btn btn-primary"><span class="fui-search"></span></button>
            </div>
          </form>
        </div>
      </div>
    </div>
{% endblock %}
